.topbar {
  background-color: #333;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
font-family: 'Times New Roman', Times, serif;

}



